<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Insta485</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
            <body>
                
                <div id = "big-top" class="top-bar">
                
                    <div id="top-bar-left" class="top-bar">
                        <a href="/" >Logo</a>
                    
                    </div>
                    <div id = "top-middle" class="top-bar">
                        Insta485
                    </div>
                    <div id = "top-bar-right" class="top-bar">
                    <a href="/explore/">explore</a>
                    &nbsp;|&nbsp;
                    <a href="/users/{{logname}}/"> {{logname}}  </a>
                    </div>
                
                </div>
                
                        <hr>
                {%for post in posts%}
                <div class="insta-post">
                    <div class="post-header">
                        <a href="/users/{{post.owner}}/">
                        <img src="{{post.owner_img_url}}" alt="text" class= "prof-imgs">
                        </a>                        
                        <a href="/users/{{post.owner}}/">{{post.owner}}</a>
                        <a href="/posts/{{post.postid}}/"> {{post.timestamp}}</a>
                    </div>
                    <div class="post-body">
                        <img src= "{{post.img_url}}" alt="text">
                        <div class="post-likes"> 
                            <p> {{post.likes}} likes</p>
                        </div>
                        <div class= "post-comments">
                            <ul>
                            {% for comment in post.comments%}
                            <li class="comment">
                            <a href="/users/{{comment.owner}}/"> {{comment.owner}} </a> 
                            {{comment.text}}
                            </li>
                            {% endfor %}
                            </ul>                        
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </body>
</html>