<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id = "big-top" class="top-bar">
                
            <div id="top-bar-left" class="top-bar">
                <a href="/" >Logo</a>
            
            </div>
            <div id = "top-middle" class="top-bar">
                Insta485
            </div>
            <div id = "top-bar-right" class="top-bar">
            <a href="/explore/">explore</a>
            &nbsp;|&nbsp;
            <a href="/users/awdeorio/">awdeorio</a>
            </div>
        
        </div>
        <h1>awdeorio</h1>
        <div>
            2 posts
            <a href="/users/awdeorio/followers/">2 followers</a>
            <a href="/users/awdeorio/following/">2 following</a>
        </div>
        <div>
            Andrew DeOrio
            <a href="/posts/1/">
            <img src="/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg" 
            alt="text" class= "prof-imgs">
            </a>
            <a href="/posts/3/">
                <img src="/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg" 
                alt="text" class= "prof-imgs">
            </a>
        </div>
    </body>
</html>