<!DOCTYPE html>

<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id = "big-top" class="top-bar">
                
            <div id="top-bar-left" class="top-bar">
                <a href="/" >Logo</a>
            
            </div>
            <div id = "top-middle" class="top-bar">
                Insta485
            </div>
            <div id = "top-bar-right" class="top-bar">
            <a href="/explore/">explore</a>
            &nbsp;|&nbsp;
            <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        
        </div>
        <h1>{{username}} </h1>
        <div>
        {% if logname_follows_username %}
            following
        {% elif logname == username %}
        {% else %}
            not following
        {% endif %}
        </div>
        <div>
            {{total_posts}} posts
            <a href="/users/{{username}}/followers/">{{followers}} followers</a>
            <a href="/users/{{username}}/following/">{{following}} following</a>
        </div>
        {{fullname}}
        <div>            
            {%for post in posts%}
            <a href="/posts/{{post.postid}}/">
            <img src="{{post.img_url}}" alt="text" class= "page-imgs">
            </a>
            {% endfor %}
        </div>
    </body>
</html>